{% import "nunjucks/macros/icons.njk" as icons %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Wildlife Trust of India - {% block pageTitle %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/images/favicon.ico" type="image/x-icon" />
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

        {% if userToken %}
            {% include "nunjucks/partials/header.njk" %}

            <div class="main-page-wrapper">
                {% include "nunjucks/partials/adminSidebar.njk" %}
                <div class="internal-page-wrapper">
                    <main class="main-page-content-wrapper">
                        {% block content %}{% endblock %}
                    </main>
                    {% include "nunjucks/partials/footer.njk" %}
                </div>

            </div>

        {% else %}
            {% block loggedOutContent %}{% endblock %}
        {% endif %}

        {% block scripts %}{% endblock %}

    <script type="text/javascript" src="/scripts/main.js"></script>

  </body>
</html>
