{% extends "nunjucks/templates/main.njk" %}
{% import "nunjucks/macros/forms.njk" as forms %}
{% import "nunjucks/macros/typography.njk" as typography %}

{% block pageTitle %}Internal Server Error{% endblock %}

{% block content %}

<p>Gone wrong</p>

{% endblock %}
