<div class="wti-card wti-card-full">
    <div class="wti-card-header">
        {{ icons.case('existing-cases-icon') }}
        {{ cardHeading }}
    </div>
    <div class="wti-card-content">
        <table id="wtiTable" class="wti-table">
            <thead>
                <tr class="wti-sortable-header">
                    <th class=" wti-sortable-table" data-column="0"><div class="wti-table-th-text">Case No</div><div class="wti-table-icons"><div id="wtiTableSortUp0" class="wti-table-icon wti-table-icon-left">{{ icons.upArrowTable('wti-table-svg') }}</div><div id="wtiTableSortDown0" class="wti-table-icon">{{ icons.downArrowTable('wti-table-svg') }}</div></div></th>
                    <th class="wti-sortable-table" data-column="2"><div class="wti-table-th-text">Identity</div><div class="wti-table-icons"><div id="wtiTableSortUp2" class="wti-table-icon wti-table-icon-left">{{ icons.upArrowTable('wti-table-svg') }}</div><div id="wtiTableSortDown2" class="wti-table-icon">{{ icons.downArrowTable('wti-table-svg') }}</div></div></th>
                    <th class=" wti-sortable-table" data-column="1"><div class="wti-table-th-text">IUCN Status</div><div class="wti-table-icons"><div id="wtiTableSortUp1" class="wti-table-icon wti-table-icon-left">{{ icons.upArrowTable('wti-table-svg') }}</div><div id="wtiTableSortDown1" class="wti-table-icon">{{ icons.downArrowTable('wti-table-svg') }}</div></div></th>
                    <th class="wti-sortable-table" data-column="4"><div class="wti-table-th-text">Class</div><div class="wti-table-icons"><div id="wtiTableSortUp4" class="wti-table-icon wti-table-icon-left">{{ icons.upArrowTable('wti-table-svg') }}</div><div id="wtiTableSortDown4" class="wti-table-icon">{{ icons.downArrowTable('wti-table-svg') }}</div></div></th>
                    <th class=" wti-sortable-table" data-column="3"><div class="wti-table-th-text">Date of Adm</div><div class="wti-table-icons"><div id="wtiTableSortUp3" class="wti-table-icon wti-table-icon-left">{{ icons.upArrowTable('wti-table-svg') }}</div><div id="wtiTableSortDown3" class="wti-table-icon">{{ icons.downArrowTable('wti-table-svg') }}</div></div></th>
                    <th class="wti-sortable-table" data-column="5"><div class="wti-table-th-text">Place of rescue</div><div class="wti-table-icons"><div id="wtiTableSortUp5" class="wti-table-icon wti-table-icon-left">{{ icons.upArrowTable('wti-table-svg') }}</div><div id="wtiTableSortDown5" class="wti-table-icon">{{ icons.downArrowTable('wti-table-svg') }}</div></div></th>
                    <th class=" wti-sortable-table" data-column="6"><div class="wti-table-th-text">Zone</div><div class="wti-table-icons"><div id="wtiTableSortUp6" class="wti-table-icon wti-table-icon-left">{{ icons.upArrowTable('wti-table-svg') }}</div><div id="wtiTableSortDown6" class="wti-table-icon">{{ icons.downArrowTable('wti-table-svg') }}</div></div></th>
                    <th class=" wti-sortable-table" data-column="7"><div class="wti-table-th-text">Final Outcome</div><div class="wti-table-icons"><div id="wtiTableSortUp7" class="wti-table-icon wti-table-icon-left">{{ icons.upArrowTable('wti-table-svg') }}</div><div id="wtiTableSortDown7" class="wti-table-icon">{{ icons.downArrowTable('wti-table-svg') }}</div></div></th>
                    <th class=" wti-sortable-table" data-column="8"><div class="wti-table-th-text">Date of Outcome</div><div class="wti-table-icons"><div id="wtiTableSortUp8" class="wti-table-icon wti-table-icon-left">{{ icons.upArrowTable('wti-table-svg') }}</div><div id="wtiTableSortDown8" class="wti-table-icon">{{ icons.downArrowTable('wti-table-svg') }}</div></div></th>
                </tr>
                <tr>
                    <td class="wti-table-search-cell"><div class="wti-table-search-wrapper"><input class="wti-table-search" type="text" name="caseNumber" id="caseNumber">{{ icons.search('wti-table-serch-icon') }}</div></td>
                    <td class="wti-table-search-cell"><div class="wti-table-search-wrapper"><input class="wti-table-search" type="text" name="idenityName" id="idenityName">{{ icons.search('wti-table-serch-icon') }}</div></td>
                    <td class="wti-table-search-cell"><div class="wti-table-search-wrapper"><input class="wti-table-search" type="text" name="iucnCategory" id="iucnCategory">{{ icons.search('wti-table-serch-icon') }}</div></td>
                    <td class="wti-table-search-cell"><div class="wti-table-search-wrapper"><input class="wti-table-search" type="text" name="class" id="class">{{ icons.search('wti-table-serch-icon') }}</div></td>
                    <td class="wti-table-search-cell"><input class="wti-table-search" type="date" name="dateAdded" id="dateAdded"></td>
                    <td class="wti-table-search-cell"><div class="wti-table-search-wrapper"><input class="wti-table-search" type="text" name="placeOfRescue" id="placeOfRescue">{{ icons.search('wti-table-serch-icon') }}</div></td>
                    <td class="wti-table-search-cell"><div class="wti-table-search-wrapper"><input class="wti-table-search" type="text" name="zoneName" id="zoneName">{{ icons.search('wti-table-serch-icon') }}</div></td>
                    <td class="wti-table-search-cell"><div class="wti-table-search-wrapper"><input class="wti-table-search" type="text" name="finalDisposition" id="finalDisposition">{{ icons.search('wti-table-serch-icon') }}</div></td>
                    <td class="wti-table-search-cell"><div class="wti-table-search-wrapper"><input class="wti-table-search" type="text" name="dateOfOutcome" id="dateOfOutcome">{{ icons.search('wti-table-serch-icon') }}</div></td>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr class="wti-clickable-row" data-link="wtiLink{{ loop.index }}">
                        <td class="">{{ record.caseNumber }}</td>
                        <td>{{ record.identityName }}
                            <a id="wtiLink{{ loop.index }}" href="/admin/existing-case/{{ record._id }}"></a>
                        </td>
                        <td class="">{{ record.iucnCategory }}</td>
                        <td class="">{{ record.class }}</td>
                        <td class="">{{ record.dateOfAdmission | asDateLocale }}</td>
                        <td>{{ record.placeOfRescue }}</td>
                        <td class="">{{ record.zoneName }}</td>
                        <td class="">{{ record.finalDisposition }}</td>
                        <td class="">{{ record.dateOfOutcome | asDateLocale }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th class="">Case number</th>
                    <th>Identity</th>
                    <th class="">IUCN Status</th>
                    <th>Class</th>
                    <th class="">Date of Adm</th>
                    <th>Place of rescue</th>
                    <th class="">Zone</th>
                    <th class="">Final Outcome</th>
                    <th class="">Date Of Outcome</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="wti-card-footer">
        Last update: {{ lastupdated | asDayMonthYearTime }}
    </div>
</div>
